In [25]:
import pandas as pd
from time import time
import requests
im

In [26]:
def create_URL(input):
    return f"https://diemthi.vnexpress.net/index/detail/sbd/{input:08}/year/2024"

In [27]:
def formatting_Dic(dic,id):
    processed_dic = {}
    processed_dic["SBD"] = id
    Mon = dic["Môn thi"]
    Diem = dic["Điểm"]  
    for index in Mon:
        processed_dic[Mon[index]] = Diem[index]
    return processed_dic

In [28]:
global_dictionary = []

In [29]:
diemhocsinh = [27006505,12002191,2037983,27006505,17008658,17001848]

In [ ]:
response

In [30]:
for i in diemhocsinh:
    try:
        table = pd.read_html(create_URL(i))
    except:
        print(f"sbd {i:08} not found\n")
    else:
        id = f"{i:08}"
        print(f"found {id}\n")
        dic = table[0].to_dict()
        global_dictionary.append(formatting_Dic(dic,id))

found 27006505

found 12002191

found 02037983

found 27006505

found 17008658

found 17001848

In [7]:
df = pd.DataFrame(global_dictionary)

In [8]:
df

,SBD,Toán,Ngữ văn,Ngoại ngữ,Vật lý,Hóa học,Sinh học,NaN,Lịch sử,Địa lý,Giáo dục công dân
0,27006505,9.8,8.25,7.4,9.50,9.25,8.5,NaN,NaN,NaN,NaN
1,12002191,9.8,8.50,8.4,9.25,9.25,8.0,NaN,NaN,NaN,NaN
2,02037983,9.8,7.75,7.0,9.50,9.75,8.0,NaN,NaN,NaN,NaN
3,27006505,9.8,8.25,7.4,9.50,9.25,8.5,NaN,NaN,NaN,NaN
4,17008658,8.0,8.75,7.6,NaN,NaN,NaN,NaN,7.75,9.75,10.0
5,17001848,8.0,8.75,8.6,NaN,NaN,NaN,NaN,7.25,8.25,10.0